<div class="mat-elevation-z8">
  <p *ngIf="!dataSource"><em>Requesting... or you don't have any journeys.</em></p>

  <div *ngIf="loading;else table">
    <mat-spinner></mat-spinner>
  </div>

  <ng-template #table>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="departureStation">
        <mat-header-cell *matHeaderCellDef>Departure station</mat-header-cell>
        <mat-cell *matCellDef="let journey"> {{journey.departureStationName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="returnStation">
        <mat-header-cell *matHeaderCellDef>Return station</mat-header-cell>
        <mat-cell *matCellDef="let journey"> {{journey.returnStationName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="distance">
        <mat-header-cell *matHeaderCellDef>Distance(km)</mat-header-cell>
        <mat-cell *matCellDef="let journey"> {{journey.coveredDistance / 1000}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef>Duration(min)</mat-header-cell>
        <mat-cell *matCellDef="let journey"> {{journey.duration * 1000 | date:'mm:ss'}} </mat-cell>
      </ng-container>

      <ng-conteiner matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let journey">
          <button mat-button color="accent" (click)="openJourneyDetails(journey)">Details</button>
        </mat-cell>
      </ng-conteiner>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </ng-template>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of journeys"
                 (page)="pageChanged($event)">
  </mat-paginator>
</div>
