<div class="mat-elevation-z8">
  <p>This component demonstrates fetching data from the server.</p>

  <p *ngIf="!journeys?.length"><em>Requesting... or you don't have any journeys.</em></p>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let journey"> {{journey.departureStationName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let journey"> {{journey.returnStationName}} </mat-cell>
    </ng-container>

    <ng-conteiner matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let journey">
        <button mat-button color="accent" (click)="openJourneyDetailsDialog(journey)">Details</button>
      </mat-cell>
    </ng-conteiner>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of journeys">
  </mat-paginator>

  <button mat-raised-button color="accent" (click)="showJourneys()">Show journeys</button>
</div>
