
<h1 mat-dialog-title id="tableLabel">Add new journey</h1>
<div mat-dialog-content>
  <mat-form-field class="journey-name">
    <mat-label class="label-journey-name">Name</mat-label>
    <input matInput class="input-journey-name" type="text" [(ngModel)]="journey.departureStationName" />
  </mat-form-field>
  <br />
  <mat-form-field class="journey-description">
    <mat-label class="label-journey-description">Description</mat-label>
    <textarea matInput class="input-journey-description" [(ngModel)]="journey.returnStationName"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" class="button-add-journey" (click)="addJourney()">Add journey</button>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
