
<div class="mat-elevation-z8">
  <div *ngIf="loading;else content">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #content>
    <h1>{{station.nameFinnish}} details</h1>

    <mat-form-field class="station-name">
      <mat-label class="label-station-name">Name</mat-label>
      <input matInput readonly="true" class="text-station-name" type="text" [ngModel]="station.nameFinnish" />
    </mat-form-field>
    <mat-form-field class="station-address">
      <mat-label class="label-station-address">Address</mat-label>
      <input matInput readonly="true" class="text-station-address" type="text" [ngModel]="station.addressFinnish" />
    </mat-form-field>
    <br />
    <mat-form-field class="station-departurecount">
      <mat-label class="label-station-departurecount">Journeys starting from</mat-label>
      <input matInput readonly="true" class="text-station-departurecount" [ngModel]="station.departureCount" />
    </mat-form-field>
    <mat-form-field class="station-returncount">
      <mat-label class="label-station-returncount">Journeys ending at</mat-label>
      <input matInput readonly="true" class="text-station-returncount" [ngModel]="station.returnCount" />
    </mat-form-field>
  </ng-template>
</div>
